header {
	background-color: #ccfff5;
	width: 100%;
	height: 160px;
	text-align: center;
	font-family: Syncopate;
}

#main_title {
	display: inline-block;
	vertical-align: middle;
	line-height: normal;
}

#content {
	line-height: 200px;
	text-align: center;
	font-family: Syncopate;
	font-size: 30px;
}

#nav {
	text-align: center;
	font-size: 17px;
	color: white;
	padding-top: 50px;
}